@media (min-width: 320px) and (max-width:480px) {
  body {
      margin: 0;
      font-family: arial, sans-serif;
  }

  .navbar {
display: inline-grid;
margin: 5px;
padding: 0px 50px;
  }
  .navbar .menu {
      display: inline-grid;
      margin: 5px;
      padding: 1rem;
  }
  .navbar .menu a {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .menu a:hover {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .search {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .search input[type="text"] {
display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .search button {
      display: inline-block;
      margin: 5px;
      padding: 1rem;
    }
  
    .navbar .search button:hover {
     display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
  
  
  .header {
      display: inline-flex;

padding: 10px 100px;
  }
  
  .header input[type="text"] {
      display: inline-flex;
;
padding: 10px 100px;
  }
      
  
  .header button {
      display: inline-flex;

      padding: 10px 90px;
  }
  
  .header button input {
      display: inline-flex;

      padding: 10px 90px;
  }
   
  .hero {
      display: grid;

  }
  
   .hero h1 {
      display: grid;

  }
  
   .hero button {
      display: grid;

   }
   .section {
      display: grid;
;
  }
  
   .cards {
      display: grid;
margin: 5px;
padding: 1rem;
  }
  
   .card {
      display: grid;
margin: 10px;
padding: 1rem;
   }
  
  .footer-section {
      display: grid;
margin: 10px;
padding: 1rem;
  }
  
   .footer-section .circle {
      display: inline-block;
margin: 10px;
padding: 1rem;
      
  }
  footer {
      display: grid;
margin: 10px;
padding: 1rem;
  }
}



@media (min-width: 481px) and (max-width:768px) {
  body {
      margin: 0;
      font-family: arial, sans-serif;
  }

  .navbar {
display: inline-block;
margin: 5px;
padding: 1rem;
  }
  .navbar .menu {
      display: inline-block;
      margin: 5px;
      padding: 1rem;
  }
  .navbar .menu a {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .menu a:hover {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .search {
      display: inline-block;
margin: 5px;
padding: 1rem;
    }
  
    .navbar .search input[type="text"] {
display: inline-block;
margin: 10px;
padding: 1rem;
    }
  
    .navbar .search button {
      display: inline-block;
      margin: 10px;
      padding: 1rem;
    }
  
    .navbar .search button:hover {
      display: inline-block;
margin: 10px;
padding: 1rem;
    }
  
  
  
  .header {
      display: inline-flex;
margin: 5px;
padding: 0px 50px;
  }
  
  .header input[type="text"] {
      display: inline-flex;
margin: 5px;
padding: 1rem;
  }
      
  
  .header button {
      display: inline-flex;
margin: 5px;
padding: 1rem;
  }
  
  .header button input {
      display: inline-block;
margin: 5px;
padding: 1rem;
  }
   
  .hero {
      display: block;
margin: 5px;
padding: 20px 90px;
  }
  
   .hero h1 {
      display: inline-block;
margin: 5px;
padding: 1rem;
  }
  
   .hero button {
      display: inline-block;
margin: 5px;
padding: 1rem;
   }
   .section {
      display: grid;
margin: 2px;
padding: 1rem;
  }
  
   .cards {
      display: grid;
margin: 5px;
padding: 1rem;
  }
  
   .card {
      display: grid;
margin: 10px;
padding: 1rem;
   }
  
  .footer-section {
      display: grid;
margin: 10px;
padding: 1rem;
  }
  
   .footer-section .circle {
      display: inline-block;
margin: 10px;
padding: 1rem;
      
  }
  footer {
      display: flex;
margin: 10px;
padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width:1201px) {
  .cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer-section {
  flex-wrap: wrap;
  
margin: 10px;
padding: 1rem;
}
}